body {
    box-sizing: border-box;
  }
  
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    90% {
      transform: translateX(10px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
  
    90% {
      transform: translateX(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  body {
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
  }
  
  .heading-primary {
    position: absolute;
    top: 3rem;
    left: 15rem;
    text-transform: 30% 30%;
    backface-visibility: hidden;
  }
  
  .heading-primary--main {
    color:black;
    display: block;
    font-weight: 400;
    letter-spacing: 35px;
    font-size: 60px;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }
  
  .heading-primary--sub {
    color:black;
    display: block;
    font-weight: 400;
    letter-spacing: 15px;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }
  
  .heading-secondary {
    font-family: sans-serif;
    font-size: 4.0rem;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #4C9A9F, #000000);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2;
    margin-top: 40px;
  }
  
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(42, 13, 99, 0.6);
  }
  
  .heading-intro {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    text-align: center;
  }
  
  .para {
    font-size: 1.6rem;
    font-family: 'SamsungOne', arial, sans-serif;
    text-align: center;
  }
  
  .para:not(:last-child) {
    margin-bottom: 5rem;
    margin-top: 1rem;
  }
  
  .u-center-text {
    text-align: center;
  }
  
  .u-margin-bottom-big {
    margin-bottom: 20px;
  }
  
  .u-margin-left-medium {
    margin-bottom: 20px;
  }
  
  .u-margin-bottom-small {
    margin-bottom: -1rem;
  }
  
  .btn:link,
  .btn:visited {
    top: 15rem;
    left: 40rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 10rem;
    transform: all .2s;
    position: absolute;
    font-size: 1rem;
  }
  
  .btn:hover {
    background-color: #050505;
    color: white;
    transform: translateY(-4px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .btn:active {
    transform: translateY(-1px);
  }
  
  .btn--white {
    background-color: white;
    color: grey;
  }
  
  .btn--white::after {
    background-color: white;
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: all .4s;
  }
  
  .btn--animated {
    animation-name: moveInBottom;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }
  
  .btn-text:link,
  .btn-text:visited {
    font-size: 1.5rem;
    color: blue;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #4C9A9F;
    padding: 3px;
    transform: all .2sec;
    position: absolute;
    top: 65rem;
    left: 2rem;
  }
  
  .btn-text:hover {
    background-color: #4C9A9F;
    color: #ffffff;
    box-shadow: 0 1rem 2rem #000000;
    transform: translateY(-2px);
  }
  
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem #1d1616;
    transform: translateY(0);
  }
  
  .compositions {
    position: relative;
  }
  
  .compositions__photo {
    width: 17%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    align-items: 33%;
  }
  
  .compositions__photo--p1 {
    left: 0;
    
  }
  
  .compositions__photo--p2 {
    right: 70%;
    
  }
  
  .compositions__photo--p3 {
    right: 55%;
  
  }
  
  .compositions__photo--p4 {
    right: 40%;
   
  }
  
  .compositions__photo--p5 {
    right: 25%;
  
  }
  
  .compositions__photo--p6 {
    right: 11%;
   
  }
  
  .compositions__photo--p7 {
    left: 0%;
    
  }
  
  .compositions__photo--p8 {
    left: 15%;
  
  }
  
  .compositions__photo:hover {
    transform: scale(1.7);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 20;
  }
  
  .compositions:hover .compositions__photo:not(:hover) {
    transform: scale(0.95);
  }
  
  .feature-box {
    position: absolute;
    background-color:white;
    font-size: 1.5rem;
    padding: 1px 16px;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem black;
    margin-top: -43.5rem;
    margin-left: 2rem;
    width: 20%;
    transition: transform .3sec;
    transform: skewY(7deg);
      text-align: left;
  }
  
  .feature-box__icon {
    font-size: 3rem;
    margin-bottom: .2rem;
  }
  
  .feature-box:hover {
    transform: translateY(-1.7rem) scale(1.03);
  }
  
  .feature-box-1 {
    position: absolute;
    background-color: white;
    font-size: 1.5rem;
    padding: 1px 16px;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem black;
    margin-top: -41rem;
    margin-left: 24.5rem;
    width: 20%;
    transition: transform .3sec;
    transform: skewY(7deg);
    text-align: left;
  }
  
  .feature-box-1__icon {
    font-size: 3rem;
    margin-bottom: .2rem;
  }
  
  .feature-box-1:hover {
    transform: translateY(-1.7rem) scale(1.03);
  }
  
  .feature-box-2 {
    position: absolute;
    background-color:white;
    font-size: 1.5rem;
    padding: 1px 16px;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem black;
    margin-top: -38.7rem;
    margin-left: 47rem;
    width: 20%;
    transition: transform .3sec;
    transform: skewY(7deg);
    text-align: left;
  }
  
  .feature-box-2__icon {
    font-size: 3rem;
    margin-bottom: .2rem;
  }
  
  .feature-box-2:hover {
    transform: translateY(-1.7rem) scale(1.03);
  }
  
  .feature-box-3 {
    position: absolute;
    background-color: white;
    font-size: 1.5rem;
    padding: 1px 16px;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem black;
    margin-top: -36rem;
    margin-left: 69.2rem;
    width: 20%;
    transition: transform .3sec;
    transform: skewY(7deg);
    text-align: left;
  }
  
  .feature-box-3__icon {
    font-size: 3rem;
    margin-bottom: .2rem;
  }
  
  .feature-box-3:hover {
    transform: translateY(-1.7rem) scale(1.03);
  }

  .header {
    height: 95vh;
    background-image: linear-gradient(to right bottom);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    background-size: contain;
    background-position: top;
    position: relative;
  }
  
  .header__logo {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  
  
  .section-about {
    padding: 10rem 10rem 30rem;
    margin-top: -20vh;
    position: relative;
  }
  
  .heading-secondary {
    top: 30rem;
  }
  
  .section-features {
    position: relative;
    padding: 3rem 0;
    background-image: linear-gradient(to right bottom);
    transform: skewY(-7deg);
  }